html, body {
  margin: 0 auto;
  background-color: #EEEEEE;
  color: black;
  max-height: 100%;
}


/* Fix links */
a {
  text-decoration: none !important;
  color: white;
}

/* Article list page */
.list-block {
  padding: 0.5em;
  text-align: center;
  background-color: #77BEF5;
  margin-bottom: 1em;
}

.pagination-block {
  text-align: center;
  background-color: #77BEF5;
  margin-bottom: 0px;
  color: white;
}

.pagination_icon {
  font-size: 400%;
}

/* Article page */

.article-content {
    color: #424242;
}

.article-block {
    padding-top: 2em;
    padding-bottom: 2em;
}

.article-text {
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word;
}

.article-link-back {
  font-size: 30px;
  background-color: #77BEF5;
}

/* Source: https://jsfiddle.net/eggbox/gk7u32b6/ */
/* Change the layout__content class to Flex (instead of inline-block) to allow spacer to work. */
.mdl-layout__content {
    display: -webkit-flex;
	display: flex;
    -webkit-flex-direction: column;
	        flex-direction: column;
}
