html, body {
  margin: 0 auto;
  background-color: #EEEEEE;
  color: black;
  max-height: 100%;
}


/* Fix links */
a {
  text-decoration: none !important;
  color: white;
}

/* Article list page */
.list-block {
  padding: 0.5em;
  text-align: center;
  background-color: #77BEF5;
  margin-bottom: 1em;
}

.pagination-block {
  text-align: center;
  background-color: #77BEF5;
  margin-bottom: 0px;
  color: white;
}

.pagination_icon {
  font-size: 400%;
}


/* Source: https://jsfiddle.net/eggbox/gk7u32b6/ */
/* Change the layout__content class to Flex (instead of inline-block) to allow spacer to work. */
.mdl-layout__content {
    display: -webkit-flex;
	display: flex;
    -webkit-flex-direction: column;
	        flex-direction: column;
}
