html, body {
  margin: 0 auto;
  background-color: #EEEEEE;
  color: black;
}

/* Fix links */
a {
  text-decoration: none !important;
  color: white;
}

/* Article list page */
.list-block {
  padding: 1em;
  text-align: center;
  background-color: #77BEF5;
  margin-bottom: 15px;
}

.pagination_icon {
  font-size: 400%;
}