{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <h1 class="header-text">Admin Area</h1>
    </div>
    <div class="row">
        {% for message in get_flashed_messages() %}
            <div class="col-sm-4"></div>
            <div class="flash col-sm-4">
                <p class="bg-danger text-center pad-one-em">{{ message }}</p>
            </div>
            <div class="col-sm-4"></div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <a href="{{ url_for('submit') }}"><button class="btn btn-info center-block">Submission area</button></a>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <h1 class="header-text">Current Items</h1>
        <table class="table table-striped">
            <tr>
                <td>Index</td>
                <td>Reference</td>
                <td>Type</td>
                <td>Title</td>
                <td>Description</td>
                <td>Image file</td>
                <td>Content</td>
                <td>Published</td>
                <td>Time added</td>
                <td>Admin Controls</td>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[2] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                    <td>{{ item[5] }}</td>
                    <td>{{ item[6] }}</td>
                    <td>{{ item[7] }}</td>
                    <td>{{ item[8] }}</td>
                    <td>
                        <a href="{{ url_for('delete_item', item_type=item[2], item_ref=item[1]) }}" role="button" class="btn btn-large btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}