{% extends "layout.html" %}
{% block centre_content %}
<div class="article-content">
    <div>
        <h1>{{ article.title }}</h1>
    </div>
    <div>
        <h3>{{ article.timestamp }}</h3>
    </div>
    <div class="article-block">
        {% for contents in article.contents %}
            <p class="article-text">
                {{ contents }}
            </p>
        {% endfor %}
    </div>
    <div>
        <a href="{{ url_for('index', page_number=1) }}">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Return to main page
            </button>
        </a>
    </div>
</div>
{% endblock %}