{% extends "index.html" %}
{% block article_list %}
    {% for article in articles %}
        <a href="{{ url_for('article', article_url_name=article.url_name) }}">
            <div class="list-block">
                <div>
                    <h2>{{ article.title }}</h2>
                </div>
                <div>
                    <h6>#{{ article.id }} - {{ article.timestamp }}</h6>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}
{% block page_extra_content %}
    <div class="mdl-grid list-block">
        <div class="mdl-cell mdl-cell--4-col">
            {% if page_data.has_previous %}
                {% set previous_page_number = page_data.current_page - 1 %}
                <a href="{{ url_for('index', page_number=previous_page_number) }}">
                    <i class="material-icons pagination_icon">navigate_before</i>
                </a>
            {% endif %}
        </div>
        <div class="mdl-cell mdl-cell--4-col"></div>
        <div class="mdl-cell mdl-cell--4-col">
            {% if page_data.has_next %}
                {% set next_page_number = page_data.current_page + 1 %}
                <a href="{{ url_for('index', page_number=next_page_number) }}">
                    <i class="material-icons pagination_icon">navigate_next</i>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}