{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row padded-row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p class="collection-box-text">
                Feel free to get in touch with any of the following methods:
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row padded-row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <a href="mailto: simon@agius-muscat.net">
                <div id="contact-email" class="collection-box">
                    <p class="collection-box-text hvr-grow">
                        <i class="fa fa-envelope fa-1x" aria-hidden="true"></i>&nbsp;E-mail
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row padded-row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <a href="https://github.com/purrcat259" target="_blank">
                <div id="contact-github" class="collection-box">
                    <p class="collection-box-text hvr-grow">
                        <i class="fa fa-github fa-1x" aria-hidden="true"></i>&nbsp;GitHub
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row padded-row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <a href="https://twitter.com/purrcat259" target="_blank">
                <div id="contact-twitter" class="collection-box">
                    <p class="collection-box-text hvr-grow">
                        <i class="fa fa-twitter fa-1x" aria-hidden="true"></i>&nbsp;Twitter
                    </p>
                </div>
            </a>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}