{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
    <!-- Introduction row -->
    <div class="row padded-row">
        <!-- Spacer -->
        <div class="col-md-2"></div>
        <!-- Personal statement -->
        <div id="about-me" class="col-md-4">
            <p>
                My name is Simon, I am 22 years old and I come from the island of Malta. I am a software enthusiast,
                always thinking up new ideas for projects and prototyping them. Creativity is my passion and I am
                currently reading for a degree in Creative Computing with the University of London.
            </p>
        </div>
        <!-- Photo -->
        <div class="col-md-4">

        </div>
        <!-- Spacer -->
        <div class="col-md-2"></div>
        <!--
        <div class="col-md-3"></div>
        <div id="about-me-para" class="col-md-3">
            <ul>
                <li>Simon Agius Muscat</li>
                <li>22 years old</li>
                <li>Based in Malta</li>
                <li>Reading for BS.C in Creative Computing with University of London</li>
            </ul>
        </div>
        <div id="about-me-image" class="col-md-3">
            <img src="{{ url_for('static', filename='images/face.png') }}">
        </div>
        <div class="col-md-3"></div>
        -->
    </div>
    <!-- Contact row -->
    <div class="row">
        <div class="col-md-4"></div>
        <!-- Details -->
        <div class="col-md-4">
            <p id="contact-me-para">
                If you want to get in contact with me, feel free to email me at: simon@agius-muscat.net.
                You can also find me on <a target="_blank" href="https://github.com/purrcat259" class="item-link">GitHub</a>
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <!-- Box Row -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="box">
                <a href="{{ url_for('projects') }}">
                    <p class="box-text hvr-float">Projects</p>
                </a>
            </div>
            <p class="box-explanation">
                Information and updates about my current ongoing personal projects.
            </p>
        </div>
        <div class="col-md-4">
            <div class="box">
                <a href="{{ url_for('articles') }}">
                    <p class="box-text hvr-float">Articles</p>
                </a>
            </div>
            <p class="box-explanation">
                Thoughts I write down. Could be opinion, observations or a summary of an experience/project.
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}