{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
    <!-- Introduction row -->
    <div class="row pad-one-em">
        <div class="col-md-3"></div>
        <!-- Details -->
        <div class="col-md-3">
            <p id="about-me-para" class="about-me-row">
                My name is Simon and I am 22 years old. I come from and am based on the island of Malta. I've been using
                computers for around 20 years. It is my tool of choice to solve nearly any problem or to make real any
                creative idea I think up. I am reading for a degree in Creative Computing with the University of London
                via their International Programme.
            </p>
        </div>
        <!-- Picture -->
        <div id="about-me-image" class="col-md-3">
            <img src="{{ url_for('static', filename='face.png') }}">
        </div>
        <div class="col-md-3"></div>
    </div>
    <!-- Contact row -->
    <div class="row">
        <div class="col-md-4"></div>
        <!-- Details -->
        <div class="col-md-4">
            <p id="contact-me-para">
                If you want to get in contact with me, feel free to email me at: simon@agius-muscat.net.
                You can also find me on <a target="_blank" href="https://github.com/purrcat259" class="item-link">GitHub</a>
            </p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <!-- Box Row -->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="box">
                <a href="{{ url_for('projects') }}">
                    <p class="box-text hvr-float">Projects</p>
                </a>
            </div>
            <p class="box-explanation">
                Information and updates about my current ongoing personal projects.
            </p>
        </div>
        <div class="col-md-4">
            <div class="box">
                <a href="{{ url_for('thoughts') }}">
                    <p class="box-text hvr-float">Thoughts</p>
                </a>
            </div>
            <p class="box-explanation">
                Thoughts I write down. Could be opinion, observations or a summary of an experience/project.
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}