<!DOCTYPE html>
<html>
    <head lang="en">
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- CSS Files -->
            {% block global_css %}
                <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
                <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.blue-indigo.min.css" />
                <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
            {% endblock %}
            <!-- JS Files -->
            {% block global_js %}
                <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
            {% endblock %}
            <!-- favicon -->
            {% block favicon %}
                <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
            {% endblock %}
            <title>
                {% block page_title %}
                    Digitalcat
                {% endblock %}
            </title>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-desktop-drawer-button">
                {% block navbar %}
                        <header class="mdl-layout__header">
                            <div class="mdl-layout__header-row">
                                <span class="mdl-layout-title">Digitalcat</span>
                                <div class="mdl-layout-spacer"></div>  <!-- Used for alignment -->
                                <nav class="mdl-navigation mdl-layout--large-screen-only">
                                    <a class="mdl-navigation__link" href="{{ url_for('index', page_number=1) }}">Home</a>
                                    <a class="mdl-navigation__link" href="">About</a>
                                    <a class="mdl-navigation__link" href="https://github.com/purrcat259" target="_blank">GitHub</a>
                                </nav>
                            </div>
                        </header>
                        <div class="mdl-layout__drawer">
                            <span class="mdl-layout-title">Digitalcat</span>
                            <nav class="mdl-navigation">
                                <a class="mdl-navigation__link" href="{{ url_for('index', page_number=1) }}">Home</a>
                                <a class="mdl-navigation__link" href="">About</a>
                                <a class="mdl-navigation__link" href="https://github.com/purrcat259" target="_blank">GitHub</a>
                            </nav>
                        </div>
                {% endblock %}
                <main class="mdl-layout__content">
                    {% block default_flash %}
                        {% for message in get_flashed_messages() %}
                            <div class="flash">{{ message }}</div>
                        {% endfor %}
                    {% endblock %}
                    {% block page_content %}
                        <div class="page-content">
                            <div class="mdl-grid">
                                <div class="mdl-cell mdl-cell--3-col"></div>
                                <div class="mdl-cell mdl-cell--6-col">
                                    {% block centre_content %}
                                        No centre content defined
                                    {% endblock %}
                                </div>
                                <div class="mdl-cell mdl-cell--3-col"></div>
                            </div>
                        </div>
                        {% block extra_rows %}
                        {% endblock %}
                    {% endblock %}
                    {% block push_down_spacer %}
                        <!-- Add spacer to push Footer down when not enough content -->
                        <div class="mdl-layout-spacer"></div>
                    {% endblock %}
                    {% block page_extra_content %}
                    {% endblock %}
                    {% block footer %}
                        <footer class="mdl-mini-footer">
                            <div class="mdl-mini-footer__left-section">
                                <ul class="mdl-mini-footer__link-list">
                                    <li><a href="{{ url_for('index', page_number=1) }}">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="https://github.com/purrcat259" target="_blank">GitHub</a></li>
                                </ul>
                            </div>
                        </footer>
                    {% endblock %}
                </main>
            </div>
        {% endblock %}
    </body>
</html>