<!DOCTYPE html>
<html>
    <head lang="en">
        {% block head %}
            <meta charset="UTF-8">
            <!-- CSS Files -->
            {% block global_css %}
                <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
                <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.blue-indigo.min.css" />
                <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
                <link href="{{ url_for('static', filename='hover.css') }}" rel="stylesheet" media="all">
            {% endblock %}
            <!-- JS Files -->
            {% block global_js %}
                <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
                <script src="https://use.fontawesome.com/45c6f2d161.js"></script>
            {% endblock %}
            <!-- favicon -->
            {% block favicon %}
                <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
            {% endblock %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
            <title>
                {% block title %}
                    {% if page_title %}
                        {{ page_title }}
                    {% else %}
                        DigitalCat
                    {% endif %}
                {% endblock %}
            </title>
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <nav class="navbar navbar-default" id="global-navbar">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('index') }}">
                            <button type="button" class="btn btn-success btn-rmv-col">
                                <span class="nav-text">Home</span>
                            </button>
                        </a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('projects') }}">
                            <button type="button" class="btn btn-success btn-rmv-col">
                                <span class="nav-text">Projects</span>
                            </button>
                        </a></li>
                        <li><a href="{{ url_for('articles') }}">
                            <button type="button" class="btn btn-success btn-rmv-col">
                                <span class="nav-text">Articles</span>
                            </button>
                        </a></li>
                        <li><a href="{{ url_for('contact') }}">
                            <button type="button" class="btn btn-success btn-rmv-col">
                                <span class="nav-text">Contact</span>
                            </button>
                        </a></li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
        {% block body %}
            {% block default_flash %}
                {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            {% endblock %}
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
                <div class="row" id="footer">
                    {% block footer %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </body>
</html>