{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <h1 class="header-text">{{ page_title }}</h1>
    </div>
    {% if items|length == 0 %}
        <div class="row">
            <h1 class="header-text">Oops... nothing here!</h1>
        </div>
    {% endif %}
    {% for item in items %}
        {% if type == 'article' %}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <a href="{{ url_for('article', title=item[1]) }}">
                        <div class="collection-box">
                            <p class="collection-box-text hvr-grow">
                                {{ item[3] }}
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <p class="collection-box-explanation">
                        {{ item[4] }}
                    </p>
                </div>
                <div class="col-md-3"></div>
            </div>
        {% elif type == 'project' %}
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <a href="{{ url_for('project', title=item[1]) }}">
                        <div class="collection-box">
                            <p class="collection-box-text hvr-grow">
                                {{ item[3] }}
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <p class="collection-box-explanation">
                        {{ item[4] }}
                    </p>
                </div>
                <div class="col-md-3"></div>
            </div>
        {% else %}
            <!-- TODO for history, listing both at the same time -->
        {% endif %}
    {% endfor %}
{% endblock %}